{% for c in site.data.extractions %}

{% if c.simulation == "eNATL60-BLB002" %} 
<div class="row justify-content-center">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title h3">{{ c.name }}</h2>
                The dataset is composed of an extraction of :
                <ul>
                    <li> Configuration : <a href="https://meom-group.github.io/meom-data-catalog/content/configurations.html">{{ c.configuration }}</a> </li>
                    <li> Simulation : <code class="language-plaintext highlighter-rouge">{{ c.simulation }}</code> </li>
                    <li> Region : <code class="language-plaintext highlighter-rouge">{{ c.region }}</code> </li>
                    <li> Variable(s):  <code class="language-plaintext highlighter-rouge">{{ c.variable }}</code> </li>
                    {% if c.depth %} 
                    <li> Depth:  <code class="language-plaintext highlighter-rouge">{{ c.depth }}</code> </li>
                    {% endif %}
                    <li> Period: <code class="language-plaintext highlighter-rouge">{{ c.period }}</code> </li>
                    <li> Frequency: <code class="language-plaintext highlighter-rouge">{{ c.frequency }}</code> </li>
                    {% if c.operation %} 
                    <li> Extra operation: <code class="language-plaintext highlighter-rouge">{{ c.operation }}</code> </li>
                    {% endif %} 
                    <li> Size: <code class="language-plaintext highlighter-rouge">{{ c.size }}</code> </li>
                </ul>
                You can find the dataset :
                <ul>
                    {% if c.path_adastra %} 
                    <li> on cal1 is : <code class="language-plaintext highlighter-rouge">{{ c.path_cal1 }}</code> </li>
                    {% endif %}
                    {% if c.path_adastra %} 
                    <li> on adastra at : <code class="language-plaintext highlighter-rouge">{{ c.path_adastra }}</code> </li>
                    {% endif %}
                    {% if c.path_gricad %} 
                    <li> on GRICAD at : <code class="language-plaintext highlighter-rouge">{{ c.path_gricad }}</code> </li>
                    {% endif %} 
                    {% if c.path_jeanzay %} 
                    <li> on Jean-Zay at : <code class="language-plaintext highlighter-rouge">{{ c.path_jeanzay }}</code> </li>
                    {% endif %}
                    {% if c.path_irene %} 
                    <li> on Irene at : <code class="language-plaintext highlighter-rouge">{{ c.path_irene }}</code> </li>
                    {% endif %}
                    {% if c.url_opendap %} 
                    <li>Download directly on <a href="{{c.url_opendap }}">opendap</a> </li>
                    {% endif %}               
                </ul>
            </div>
        </div>
</div>
{% endif %}
{% endfor %}
