{% for c in site.data.configurations %}
<div class="row justify-content-center">
    
        <div class="card">
            <div class="card-body">
                <h2 class="card-title h3">{{ c.name }}</h2>
                {{ c.description }}
                <ul>
                    {% if c.path_adastra %} 
                    <li>Available on Adastra at : <code class="language-plaintext highlighter-rouge">{{ c.path_adastra }}</code> </li>
                    {% endif %}
                    {% if path_cal1 %} 
                    <li>Available on Adastra at : <code class="language-plaintext highlighter-rouge">{{ c.path_cal1 }}</code> </li>
                    {% endif %}
                    {% if c.path_gricad %} 
                    <li>Available on Adastra at : <code class="language-plaintext highlighter-rouge">{{ c.path_gricad }}</code> </li>
                    {% endif %} 
                    {% if c.path_jeanzay %} 
                    <li>Available on Adastra at : <code class="language-plaintext highlighter-rouge">{{ c.path_jeanzay }}</code> </li>
                    {% endif %}
                    {% if c.path_irene %} 
                    <li>Available on Adastra at : <code class="language-plaintext highlighter-rouge">{{ c.path_irene }}</code> </li>
                    {% endif %}
                    {% if c.url_opendap %} 
                    <li>Available on <a href="{{c.url_opendap }}">opendap</a> </li>
                    {% endif %}               
                </ul>
            </div>
        </div>
   
</div>
{% endfor %}

