{% for c in site.data.extractions %}

{% if c.region == "SICIL" %} 
<div class="row justify-content-center">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title h3">{{ c.name }}</h2>
                The dataset is composed of an extraction of :
                <ul>
                    <li> Configuration : <a href="https://meom-group.github.io/meom-data-catalog/content/configurations/{{ c.configuration }}.html">{{ c.configuration }}</a> </li>
                    <li> Simulation : <a href="https://meom-group.github.io/meom-data-catalog/content/simulations/{{ c.simulation }}.html">{{ c.simulation }}</a> </li>
                    <li> Region : <a href="https://meom-group.github.io/meom-data-catalog/content/regions/{{ c.region }}.html">{{ c.region }}</a> </li>
                    <li> Variable(s): {% for v in c.variable %} <a href="https://meom-group.github.io/meom-data-catalog/content/variables/{{ v }}.html">{{ v }}</a> {% endfor %} </li>
                    {% if c.depth %} 
                    <li> Depth:  <code class="language-plaintext highlighter-rouge">{{ c.depth }}</code> </li>
                    {% endif %}
                    <li> Period: <code class="language-plaintext highlighter-rouge">{{ c.period }}</code> </li>
                    <li> Frequency: <code class="language-plaintext highlighter-rouge">{{ c.frequency }}</code> </li>
                    {% if c.operation %} 
                    <li> Extra operation: <code class="language-plaintext highlighter-rouge">{{ c.operation }}</code> </li>
                    {% endif %} 
                    <li> Size: <code class="language-plaintext highlighter-rouge">{{ c.size }}</code> </li>
                </ul>
                You can find the dataset :
                <ul>
                    {% if c.path_adastra %}
                    <li>on <a href="https://meom-group.github.io/meom-data-catalog/content/platforms/adastra.html">Adastra</a> is : <code class="language-plaintext highlighter-rouge">{{ c.path_adastra }}</code> </li>
                    {% endif %}
                    {% if c.path_cal1 %} 
                    <li> on <a href="https://meom-group.github.io/meom-data-catalog/content/platforms/cal1.html">cal1</a> at : <code class="language-plaintext highlighter-rouge">{{ c.path_cal1 }}</code> </li>
                    {% endif %}
                    {% if c.path_gricad %} 
                    <li> on <a href="https://meom-group.github.io/meom-data-catalog/content/platforms/gricad.html">GRICAD</a> at : <code class="language-plaintext highlighter-rouge">{{ c.path_gricad }}</code> </li>
                    {% endif %} 
                    {% if c.path_jeanzay %} 
                    <li> on <a href="https://meom-group.github.io/meom-data-catalog/content/platforms/jeanzay.html">Jean-Zay</a> at : <code class="language-plaintext highlighter-rouge">{{ c.path_jeanzay }}</code> </li>
                    {% endif %}
                    {% if c.path_irene %} 
                    <li> on <a href="https://meom-group.github.io/meom-data-catalog/content/platforms/irene.html">Irene</a> at : <code class="language-plaintext highlighter-rouge">{{ c.path_irene }}</code> </li>
                    {% endif %}
                    {% if c.url_opendap %} 
                    <li><a href="{{c.url_opendap }}">Download</a> directly on <a href="https://meom-group.github.io/meom-data-catalog/content/platforms/opendap.html">opendap</a> </li>
                    {% endif %}               
                </ul>
            </div>
        </div>
</div>
{% endif %}
{% endfor %}
